.main {
    background-image: url('https://jooinn.com/images/mountain-view-40.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.con {
    background-image: url('https://miro.medium.com/max/1200/1*rJ-27205RcPxlEg8T_hRuQ.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding-top: 5%;
    padding-bottom: 10%;
}

.bar {
    margin-left: 20%;
    color:white;
    background-color: rgb(82, 112, 160);
    height: 20px;
    width: 60%;
    border-radius: 20px;
    text-align: center;
}

.per{
    margin-left: 0px;
    background-color: #20365A;
    height: 100%;
    border-radius: 20px;
}

.js, .line {
    width: 70%;
}

.python {
    width: 80%;
}

.html, .css {
    width: 90%;
}

.git {
    width: 90%;
}

.centered {
    background-color: rgba(17, 16, 16, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70%;
    width: 100%;
    transform: translate(-50%, -50%);
  }

  .fa{
      margin-right: 2%;
      color: #000;
  }

.fa:hover{
    color: #000;
    text-decoration: none;
}